<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-list lines="none">
    <!--<ion-item> <!--href="https://ionicframework.com/docs/"-->
      <!--<ion-icon slot="start" color="medium" name="book"></ion-icon>-->
      <!--<ion-label>Account</ion-label>
    <!--</ion-item>
    <!--<ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <!--<ion-icon slot="start" color="medium" name="build"></ion-icon>-->
      <!--<ion-label>Theme</ion-label>
    <!--</ion-item>
    <!--<ion-item href="https://ionicframework.com/docs/layout/structure">
      <!--<ion-icon slot="start" color="medium" name="grid"></ion-icon>-->
      <!--<ion-label>About</ion-label>
    <!--</ion-item>
    <!--<ion-item href="https://ionicframework.com/docs/theming/basics">
      <!--<ion-icon slot="start" color="medium" name="color-fill"></ion-icon>-->
      <!--<ion-label>Uhh</ion-label>-->
    <!--</ion-item>-->

    <ion-button color="light" expand="full" routerLink="/account" routerDirection="forward">
      Account
    </ion-button>
    <ion-button color="light" expand="full" routerLink="/themes" routerDirection="forward">
      Theme
    </ion-button>
    <ion-button color="light" expand="full" routerLink="/about" routerDirection="forward">
      About
    </ion-button>
    <ion-button color="light" expand="full">
      Uhh
    </ion-button>


  <!--</ion-list>-->
</ion-content>
